{# {% set site_title %}{% block site_title %}{% endblock site_title %}{% endset %} #}
{# {% set page_title %}{% block page_title %}{% endblock page_title %}{% endset %} #}
{% block site_title %}{% endblock %}
{% block page_title %}{% endblock %}

<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page_title }} - {{ site_title }}</title>
  <meta name="description" content="{{ site_title }} By L3n4r0x" />
  <link rel="icon" href="https://webmanajemen.com/favicon.ico" />
  <meta
    content="https://rawcdn.githack.com/dimaslanjaka/public-source/1a5eb6ac9eec2bd440a694858cdd0f1728e115f1/images/PicsArt_09-09-12.12.25%201584x512px.png"
    property="og:image" />
  <meta name="keywords" content="proxy, php proxy" />
  <meta name="robots" content="index, follow" />
  <!-- Twitter meta tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ page_title }}" />
  <meta name="twitter:description" content="{{ site_title }} By L3n4r0x" />
  <meta
    content="https://rawcdn.githack.com/dimaslanjaka/public-source/1a5eb6ac9eec2bd440a694858cdd0f1728e115f1/images/PicsArt_09-09-12.12.25%201584x512px.png"
    name="twitter:image" />
  <meta name="yandex-verification" content="6e91ba469c56e6ac" />
  <link rel="canonical" href="{{ canonical_url }}" />
  <script src="//cdn.tailwindcss.com/3.4.3"></script>
  <script>
    tailwind.config = {
      darkMode: 'class',
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
            ocean: '#1ca9c9',
            forest: '#228b22',
            sunset: '#ff4500',
            sky: '#87ceeb',
            sand: '#c2b280',
            berry: '#cc66cc',
            cyan: '#00ffff',
            magenta: '#ff00ff',
            polkador: '#ff6347',
            skip: '#d3d3d3', // light gray
            silver: '#c0c0c0',
            mutedGray: '#b0b0b0',
            lightGray: '#d3d3d3'
          }
        }
      }
    };
  </script>
  <link rel="stylesheet"
        href="//rawcdn.githack.com/dimaslanjaka/Web-Manajemen/0f634f242ff259087c9fe176e8f28ccaebb5c015/css/all.min.css" />
  {% block endhead %}{% endblock endhead %}
</head>
<body
  class="mt-4 -mb-3 mr-4 ml-4 bg-white dark:bg-slate-800 dark:text-slate-100">

<!-- Navbar -->
<nav class="bg-gray-800 mb-4">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <div class="text-white text-xl font-semibold">{{ site_title }}</div>
    <div class="hidden md:flex space-x-6">
      <a href="/" class="text-white hover:text-gray-300">Home</a>
      <a href="/login" class="text-white hover:text-gray-300">Login</a>
      <a href="https://www.webmanajemen.com/p/about.html"
         class="text-white hover:text-gray-300">About</a>
    </div>
    <div class="md:hidden">
      <button id="menu-toggle" class="text-white focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </div>
  <div id="mobile-menu" class="md:hidden mt-4 hidden">
    <a href="#" class="block text-white py-2">Home</a>
    <a href="#proxies" class="block text-white py-2">Proxies</a>
    <a href="#about" class="block text-white py-2">About</a>
  </div>
</nav>
<script>
  // Toggle mobile menu visibility
  document.getElementById('menu-toggle').addEventListener('click', function () {
    document.getElementById('mobile-menu').classList.toggle('hidden');
  });
</script>

<!-- page body -->
{% block body %}{% endblock body %}

<!-- Footer -->
<footer class="bg-gray-800 text-white text-center py-4 mt-5">
  <p>&copy; 2025 {{ site_title }}. All rights reserved.</p>
</footer>

<!-- Google tag (gtag.js) -->
<script async
        src="https://www.googletagmanager.com/gtag/js?id=G-BG75CLNJZ1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());

  gtag('config', 'G-BG75CLNJZ1');
</script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

{% block endbody %}{% endblock endbody %}
</body>
</html>
